@use './variables.scss' as *;
.imageViewerMainContainer{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    backdrop-filter: blur(2px);

    svg{
        font-size: 2rem;
        margin: 1rem;
        color: $primary;
        cursor: pointer;
    }

    .closeSvg{
        position: absolute;
        top: 60px;
        right: 10px;
        color: #ff0000;
        backdrop-filter: blur(0px);
    }
    .imageViewerContainer{
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: center;
        img{
            width: 75%;
        }
    }
    
}